<div class="content col-5 ml-auto mr-auto mb-5">
    <h1 class="text-center">Contacto</h1>
    <form>
        <div class="form-group">
            <label for="nombreContacto">Nombre</label>
            <input class="form-control" type="text" name="nombre" id="nombreReg" placeholder="Nombre" required>

        </div>
        <div class="form-group">
            <label for="emailContacto">Email</label>
            <input class="form-control" type="email" name="email" id="emailContacto" aria-describedby="emailHelp" placeholder="example@mail.com" required> 
        </div>
        <div class="form-group">
            <label for="asuntoContacto">Asunto</label>
            <input class="form-control" type="text" name="asunto" id="asuntoReg" placeholder="Asunto" required>

        </div>
        <div class="form-group">
            <label for="mesnsajeContacto">Mensaje</label>
            <textarea class="form-control" name="mensaje" rows="6" id="mensajeContacto" placeholder="Mensaje" required></textarea>

        </div>
        <button class="btn btn-primary text-align-center" type="submit">Envía tu mensaje</button>
    </form>
</div>
