<h1 class="text-center my-5">Cartelera</h1>
<nav>
    <div class="nav nav-tabs text-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" style="min-width: 130px;" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Películas</a>
        <a class="nav-item nav-link" style="min-width: 130px;" id="nav-0-tab" data-toggle="tab" href="#nav-0" role="tab" aria-controls="nav-0" aria-selected="false">{{listaDiasSemana[0] | date: 'EEEE d'}}</a>
        <a class="nav-item nav-link" style="min-width: 130px;" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="false">{{listaDiasSemana[1] | date: 'EEEE d'}}</a>
        <a class="nav-item nav-link" style="min-width: 130px;" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">{{listaDiasSemana[2] | date: 'EEEE d'}}</a>
        <a class="nav-item nav-link" style="min-width: 130px;" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">{{listaDiasSemana[3] | date: 'EEEE d'}}</a>
        <a class="nav-item nav-link" style="min-width: 130px;" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">{{listaDiasSemana[4] | date: 'EEEE d'}}</a>
        <a class="nav-item nav-link" style="min-width: 130px;" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5" aria-selected="false">{{listaDiasSemana[5] | date: 'EEEE d'}}</a>
        <a class="nav-item nav-link" style="min-width: 130px;" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab" aria-controls="nav-6" aria-selected="false">{{listaDiasSemana[6] | date: 'EEEE d'}}</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent"> 
        <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
            <div class="card my-3 mx-auto col-md-9" *ngFor="let item of this.peliculas">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div *ngFor="let item2 of this.multimediaInfo">
                            <div *ngIf="item2.titulo == item.titulo">
                                <img src={{item2.portada}} class="card-img ml-n3" alt="Poster de la película {{item2.titulo}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title">{{item.titulo}}</h5>
                                    <div class="card-text">{{item.anyo}} {{item.pais}} {{item.genero}} {{item.duracion}} min.</div>
                                </div>
                                <div *ngFor="let val of this.valoracion">
                                    <div *ngIf="(val.titulo == item.titulo && val.media >= 7)">
                                        <div class="col-3 text-center circulo pt-3 bg-success text-white">{{val.media.toFixed(1)}}</div>
                                    </div>
                                    <div *ngIf="(val.titulo == item.titulo && (val.media < 7 && val.media >= 5))">
                                        <div class="col-3 text-center circulo pt-3 bg-warning text-white">{{val.media.toFixed(1)}}</div>
                                    </div>
                                    <div *ngIf="(val.titulo == item.titulo && val.media < 5)">
                                        <div class="col-3 text-center circulo pt-3 bg-danger text-white">{{val.media.toFixed(1)}}</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card-text">Sinopsis <br>
                                <small class="text-muted">{{item.sinopsis}}</small>
                            </div>
                            <div class="card-text mt-4">      
                                <span *ngFor="let item2 of this.multimediaInfo">
                                    <span *ngIf="item2.titulo == item.titulo">
                                        <button class="btn btn-outline-info btn-sm mx-3" (click)=foto(item.titulo)>Fotos</button>
                                        <a href="{{item2.trailer}}" target="_blank" class="btn btn-outline-info btn-sm mx-3">Trailer</a>
                                    </span>
                                </span>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-{{index.orden}}" role="tabpanel" [attr.aria-labelledby]="'nav-'+index.orden+'-tab'" *ngFor="let index of this.carteleraSemanal">
            <div class="card my-3 mx-auto col-md-9" *ngFor="let item of index.carteleraDelDia">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div *ngFor="let item2 of this.multimediaInfo">
                            <div *ngIf="item2.titulo == item.pelicula.titulo">
                                <img src={{item2.portada}} class="card-img ml-n3" alt="Poster de la película {{item2.titulo}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title">{{item.pelicula.titulo}}</h5>
                                    <div class="card-text">{{item.pelicula.anyo}} {{item.pelicula.pais}} {{item.pelicula.genero}} {{item.pelicula.duracion}} min.</div>
                                </div>
                                <div *ngFor="let val of this.valoracion">
                                    <div *ngIf="(val.titulo == item.pelicula.titulo && val.media >= 7)">
                                        <div class="col-3 text-center circulo pt-3 bg-success text-white">{{val.media.toFixed(1)}}</div>
                                    </div>
                                    <div *ngIf="(val.titulo == item.pelicula.titulo && (val.media < 7 && val.media >= 5))">
                                        <div class="col-3 text-center circulo pt-3 bg-warning text-white">{{val.media.toFixed(1)}}</div>
                                    </div>
                                    <div *ngIf="(val.titulo == item.pelicula.titulo && val.media < 5)">
                                        <div class="col-3 text-center circulo pt-3 bg-danger text-white">{{val.media.toFixed(1)}}</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card-text">Sinopsis <br>
                                <small class="text-muted">{{item.pelicula.sinopsis}}</small>
                            </div>
                            <span *ngFor="let sesion of item.sesiones">
                                <span *ngIf="(this.token != 'No' && this.token != null);else miboton">
                                    <button class="btn btn-primary btn-lg mx-3" value={{sesion.idProyeccion}} (click)=procesoDeCompra(sesion.idProyeccion)>{{sesion.hora.substring(0,5)}}</button>
                                </span>
                                <ng-template #miboton>
                                    <button class="btn btn-primary btn-lg mx-3" value={{sesion.idProyeccion}} disabled>{{sesion.hora.substring(0,5)}}</button>
                                </ng-template>   
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
